.advantages {
  margin-bottom: 42px;
}

.advantages__wrapper {
  padding-right: 20px;
  padding-left: 20px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $color-dark-gray;
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__item {
  position: relative;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  padding-left: 80px;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $color-gray;

  &--leaf {
    &::before {
      background-image: url("../img/advantage-leaf@1x.png");

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/advantage-leaf@2x.png");
      }
    }
  }

  &--powder {
    &::before {
      background-image: url("../img/advantage-powder@1x.png");

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/advantage-powder@2x.png");
      }
    }
  }

  &--dining {
    &::before {
      background-image: url("../img/advantage-dining@1x.png");

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/advantage-dining@2x.png");
      }
    }
  }

  &--clock {
    &::before {
      background-image: url("../img/advantage-clock@1x.png");

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/advantage-clock@2x.png");
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: $green;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate3d(0, -50%, 1px);
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    margin-bottom: 50px;
  }

  .advantages__wrapper {
    width: 768px;
    margin: 0 auto;
    padding-right: 30px;
    padding-left: 30px;
  }

  .advantages__title {
    margin-bottom: 60px;
    font-size: 60px;
    line-height: 60px;
  }

  .advantages__list {
    counter-reset: list;
  }

  .advantages__item {
    &::after {
      counter-increment: list;
      content: counter(list);
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    margin-bottom: 25px;
  }
}
