.contacts__inner {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px 25px;
}

.contacts__slogan {
  width: 44.6%;
  margin: 0;
  margin-right: 5.4%;

  font-size: 16px;
  line-height: 20px;
  color: $color-dark-gray;
  text-transform: uppercase;
}

.contacts__address {
  width: 50%;
  margin: 0;

  font-size: 14px;
  line-height: 20px;
  font-family: "Arial", sans-serif;
  color: $color-gray;
}

.contacts__map {
  position: relative;
  width: 100%;
  min-height: 352px;
}

@media (min-width: $tablet-width) {
  .contacts__inner {
    width: 768px;
    margin: 0 auto;
    padding: 65px 70px 55px;
  }

  .contacts__slogan {
    width: 155px;
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    width: 160px;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    flex-direction: column;

    span {
      margin-top: auto;
    }
  }

  .contacts__map {
    min-height: 396px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
  }

  .contacts__wrapper {
    width: 1300px;
    margin: 0 auto;
    padding: 95px 40px 103px 40px;
  }

  .contacts__inner {
    position: relative;
    z-index: 20;
    width: 570px;
    margin: 0;
    padding: 65px 90px 55px 75px;
    background-color: #ffffff;
  }

  .contacts__map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 399px;
    z-index: 10;
  }
}
