.field-actions__btn {
  width: 100%;
  margin-bottom: 20px;
}

.field-actions__text {
  width: 170px;
  margin: 0 auto;

  font-size: 14px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  color: $color-gray;
}
